# To use this file you must have EditorConfig installed for your editor.
# For Visual Studio Code, install the extension: "EditorConfig for VS Code"
# https://marketplace.visualstudio.com/items?itemName=EditorConfig.EditorConfig
root = true

[*]
tab_width = 4
trim_trailing_whitespace = true
insert_final_newline = true

[{*.xaml, *.xml, *.targets, *.props}]
indent_style = tab

[{*.cs, *.tt, *.java}]
indent_style = tab

[{*.ts, *.json}]
indent_style = tab

[*.csproj]
indent_style = tab
tab_width = 2
indent_size = 2

[*.js]
indent_style = space

[*.css]
indent_style = space
tab_width = 2
indent_size = 2

[{*.yml, *.yaml}]
indent_style = space

[*.md]
indent_style = space
